/** for biggest yet  124 to all the way up**/
@media only screen and (max-width: 1200px) {

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
    
}

/** for bigger: 768 to 1023**/
@media only screen and (max-width: 1023px) {

    section {
        padding-top: 40px;
    }
    body {
        font-size: 15px;
    }

    .hero-text-box {
        width: 100%;
    }
    .hero-text-box h1 {
      margin-top: 15%;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .btn-app img {
        width: 40%;
        margin: 0 auto;
        margin-right: 10px;
       
    }
    
    .section-features {
        width: 100%;
      
    }

    .city-stats {
        font-size: 12px;
    }

    .cities div h3 {
        font-size: 18px;
    }
    
}




/** for meidum: 481 to 767**/
@media only screen and (max-width: 767px) {


}

/** for small phones: 0 to 480**/
@media only screen and (max-width: 480px) {

.html,
body {
    font-size: 14px;
}



nav li{
    width: 10%;
    margin-left: 10%;

}

.nav-links li {
    margin-right: 7px;
  

}

.nav-links li a:hover,
.nav-links li a:active {
    
   padding: 0px;

}

.nav-links li {
    display: inline-block;
    margin-top: 20px;
}

.nav-links li a {
  
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    
    padding-bottom: 1px;
    transition: border 0.2s;
}

.hero-text-box h1 {
    font-size: 20px;
    margin-bottom: 50px;
}

.row.js-wp-1 i {
    text-align: center;
}

.row.js-wp-1 h3 {
    text-align: center;
    font-weight: bold;
}

.step-boxes:first-child img {
    width: 200px;
    margin-left: 20%;
}

.step-boxes:last-child {
    margin-top: 30px;
}

.work-step div {
    border: 2px solid #e76e20;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #e76e20;
    font-size: 150%;
    text-align: center;
    padding: 10px;
    float: left;
    margin-right:10px;
    margin-bottom: 10px;
}

.btn-app img {
   margin-left: 12px;
    margin-bottom: 10px;
}

.plan-box {

    width: 75%;
    margin-left: 35px;

}

.main-links li {

    float: right;
    margin-right: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
    font-size: 15px;
    color: rgb(117, 115, 115);
    word-spacing: 2px;
    margin-bottom: 5px;
    line-height: 25px;
}


}