/**-----------CSS RESET-----------------**/
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}



/**----------- REUSABLE STUFF------------**/

a {
     color: #e76e20;
     text-decoration: none;
     border-bottom: 2px solid #e76e20;
     padding-bottom: 5px;
     transition: border-bottom 0.2s, color 0.2s;
     
}

a:hover {
    color: #555;
    border-bottom: 2px solid transparent;

}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/**----------- HEADER------------**/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(imgs/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    padding-top: 70px;
}

.long-copy {
    font-weight: 300;
    width: 70%;
    margin-left: 20%;
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 90%;
}

.section-features .long-copy {
    margin-bottom: 20px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: px;
}

h2 {
    font-size: 180%;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

h2:after {
    height: 2px;
    width: 80px;
    background-color: #e76e20;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 20px;
    word-spacing: 2px;

}

h3 {
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    word-spacing: 2px;
    
}

.box p {
    line-height: 145%;
    font-size: 90%;
    padding: 10px;
}



.icon-big {
    font-size: 250%;
    display: block;
    margin-bottom: 10px;
    color: #e76e20;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e76e20;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    margin-right: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full {
    background-color:#e76e20;
    color: #fff;
}

.btn-ghost {
    color: #e76e20;
}

.btn:hover {
    background-color:#cf6d17;
    
}

.btn-ghost:active,
.btn-ghost:hover {
    color: #fff;
}


/**----------- NAV BAR & LOGO------------**/


.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.logo-black {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
}

.logo-black {display: none;}

.nav-links {
    float: right;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-top: 40px;
}

.nav-links li a {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border: 2px solid transparent;
    padding-bottom: 10px;
    transition: border 0.2s;
}

.nav-links li a:hover,
.nav-links li a:active {
    
    border-bottom: 2px solid #e76e20;

}





/** sticky nav **/

.sticky .nav-links li {
    display: inline-block;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.884);
  width: 100%;
  display: inline-block;
  box-shadow: 0 2px 2px rgb(173, 170, 170);
  z-index: 9999;
 
}

.sticky .logo {
    display: none;

}
.sticky .logo-black {
    display: block;
    margin-top: 6px;
    margin-bottom: 5px;
}

.sticky .nav-links li a {
   color: #555;
    
}

.sticky .nav-links li{
    margin-top: 18px;
 }
 

/**----------- GALLARY------------**/


.photo-gallary {
    width: 100%;
    list-style: none;
  
}


.photo-gallary li {
    width: 25%;
    float: left;
    margin: 0;
    overflow: hidden;
    background-color: black;

}

.photo-gallary li img {
    width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.7;
}

.photo-gallary li img:hover {
    transform: scale(1.04);
    opacity: 1;
}


/**----------- STEPS SECTION------------**/

.steps {
    background-color: rgb(223, 222, 222);
}
.step-boxes:first-child img {
    width: 200px;
    margin-left: 30%;
}

.step-boxes:last-child {
    margin-top: 80px;
}

.work-step div {
    border: 2px solid #e76e20;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #e76e20;
    font-size: 150%;
    text-align: center;
    padding: 7px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;

}


.btn-app img {
    width: 150px;
    height: auto;
    margin-top: 50px;
    margin-right: 30px;
    
}

.btn-app,
.btn-app:hover {
    border: 0;
}


/**-----------CITIES------------**/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;

}

.city-stats {
margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    color: #e76e20;
    text-align: center;
    font-size: 120%;
    margin-top: -4px;
    margin-right: 15px;
    /**align stuff **/
    line-height: 120%;
    vertical-align: middle;

}

/**-----------CUSTOMERS------------**/
.customers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(imgs/back-customers.jpg);
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    font-size: 90%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
    word-spacing: 2px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -10px;
    left: -5px;;
    
}

cite {
    font-size: 80%;
    display: block;

}

cite img {
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 10px;
}

/**-----------SIGN UP------------**/

.plans {
    background-color: rgb(223, 222, 222);
}

.plan-box {
    background-color: #fff;
    border-radius: 5%;
    width: 80%;
    margin-left: 55px;
    box-shadow: 0 2px 2px rgb(202, 201, 201);

}

.plan-box div {
    border-bottom: 2px solid rgb(219, 217, 217);
    padding: 10px 10px;
    margin-bottom: 20px;
}


.plan-box div:first-child {
    background-color:rgb(230, 230, 230, 0.28);
    

}

.plan-box div:last-child {
    border: 0;
    text-align: center;
}

.plan-price {
    font-size: 250%;
    color: #e76e20;
    font-weight: 300;
}

.plan-price span {
    font-size: 30%;
}

.per-meal {
    font-size: 90%;
    line-height: 120%;
    margin-bottom: 5px;
}

.plan-box ul {
    list-style-type: none;
}

.plan-box div li {
    margin-top: 5px;
    line-height: 20%;
    font-weight: 300;
    margin-bottom: 5px;
}


.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 2px solid #ccc;
}

textarea {
    height: 100px;
}

*:focus {
    outline-color: #e76e20;
}


/**********FOOOOOTER*****************/

footer {
    background: rgb(37, 37, 37);
    color: #fff;
    width: 100%;
    height: auto;
    padding: 40px;
}

.main-links {
    list-style: none;
    width: 100%;

}

.main-links li {

    float: right;
    margin-right: 30px;
}

.main-links li a {

    border: 0;
    color: rgb(117, 115, 115);
}

.main-links li a:hover {

    color: #e76e20;
     text-decoration: none;
     border-bottom: 2px solid #e76e20;
     padding-bottom: 5px;
     transition: border-bottom 0.2s, color 0.2s;
}

.copyright {
    text-align: center;
    font-size: 80%;
    color: rgb(117, 115, 115);
    word-spacing: 2px;
}

.heart{
border-bottom: 0;
}



/*** ANIMATION *****/

.js-wp-1 {
    opacity: 0;
}

.js-wp-1.animated {
    opacity: 1;
}

.js-wp-2 {
    opacity: 0;
}

.js-wp-2.animated {
opacity: 1;
}

.js-wp-3 {
    opacity: 0;
}

.js-wp-3.animated {
opacity: 1;
}

.js-wp-4 {
    opacity: 0;
   
}

.js-wp-4.animated {
opacity: 1;
}


.heart {
    color: rgb(221, 19, 46);
    animation: pulsate 1.4s linear infinite;      
  }
 
  
  /* Keyframes */ 
  @keyframes pulsate {
    0% { text-shadow: rgb(221, 19, 46) 0 0 .03em, rgb(237, 21, 50) 0 0 .1em, rgb(237, 21, 50) 0 0 .1em; }
    
    15% { text-shadow: rgb(221, 19, 46) 0 0 .03em, rgb(237, 21, 50) 0 0 .1em, rgb(237, 21, 50) 0 0 .2em; }
    
    25% { text-shadow: rgb(221, 19, 46) 0 0 .03em, rgb(237, 21, 50) 0 0 .1em, rgb(237, 21, 50) 0 0 .04em; }
    
    35% { text-shadow: rgb(221, 19, 46) 0 0 .03em, rgb(237, 21, 50) 0 0 .3em, rgb(237, 21, 50) 0 0 .16em; }
    
    65% { text-shadow: rgb(255, 109, 131) 0 0 .03em, rgb(237, 21, 50) 0 0 .2em, rgb(237, 21, 50) 0 0 .1em; }
    
    100% { text-shadow: rgb(255, 109, 131) 0 0 .03 em, rgb(237, 21, 50) 0 0 .2em, rgb(237, 21, 50) 0 0 .2em; }
  }